MAIL_USER=$IONOS_MAIL_USER
MAIL_PASSWORD=$IONOS_MAIL_PASSWORD
MAIL_URL=$IONOS_MAIL_URL
MAIL_PORT=$IONOS_MAIL_PORT

DB_USER=$IONOS_DB_USER
DB_PASSWORD=$IONOS_DB_PASSWORD
DB_URL=$IONOS_DB_URL
DB_PORT=$IONOS_DB_PORT